extends dashbase 

block content
    section(class="pt-24 md:pt-36 w-[85%] mr-auto")
        div(class="relative w-[85%] md:w-[75%] mx-auto bg-white p-4 rounded-sm shadow-[1px_2px_10px_-2px_rgba(0,0,0,0.5)]")
            div(class="flex")
                img(src=`/imgs/order/${order.image}` alt=`` class="ml-4 h-96")

                div
                    table(class="font-IRanSans text-right")
                        tr
                            td(class="w-32") سفارش دهنده:
                            td(class="leading-7 font-semibold")= order.name
                        tr
                            td شماره تماس:
                            td(class="leading-7")= order.phone
                        tr
                            td ایمیل:
                            td(class="leading-7")= order.email
                        tr 
                            td طول تابلو:
                            td(class="leading-7")= `${order.height} سانتی متر`
                        tr 
                            td عرض تابلو:
                            td(class="leading-7")= `${order.width} سانتی متر`
                        tr 
                            td تکنیک:
                            td(class="leading-7")= order.technique
                        tr 
                            td تاریخ:
                            - const year = order.createdAt.getFullYear()
                            - const month = order.createdAt.getMonth() + 1
                            - const day = order.createdAt.getDate()
                            td(class="leading-7")= `${year}/${month}/${day}`

                    p(class="mt-4 text-justify text-sm font-IRanSans leading-7")= order.description

            button(id="delete-order-btn" class="bg-red absolute bottom-4 left-4 font-IRanSans text-sm text-white px-10 py-2 rounded-sm mt-2 hover:scale-105 transition-all duration-300") حذف

    div(id="delete-order-popup" style="z-index: 500;" class="hidden fixed left-0 top-0 bottom-0 right-0 flex justify-center items-center font-IRanSans bg-slate-600 bg-opacity-60 backdrop backdrop-blur-sm")
        div(class="relative bg-white rounded-sm flex p-6 px-8 shadow-[1px_2px_10px_-2px_rgba(0,0,0,0.5)]")
            i(id="delete-order-popup-close" class="fa-solid fa-xmark absolute text-xl top-1.5 right-2 cursor-pointer")
            div(class="mt-3")
                div(class="flex justify-center items-center")
                    i(class="fa-solid fa-triangle-exclamation text-3xl ml-3")
                    p مطمئن‌اید که حذف شود؟

                div(class="mt-8")
                    button(id="delete-order-yes" data-id=`${order._id}` class="bg-red ml-2 text-white w-[48%] py-2 rounded-sm cursor-pointer text-sm") بله!
                    button(id="delete-order-no" class="bg-slate-700 text-white w-[48%] py-2 rounded-sm cursor-pointer text-sm") لغو