extends base

block content
    section(class="pt-24 text-center md:w-[80%] mx-auto")
        h1(class="inline-block text-3xl md:text-4xl font-mehr border-b-4 border-red") هنرمندان

        div(class="flex justify-center flex-wrap mt-4 md:mt-6")

            each artist in artists
                div(class="w-[70%] md:mx-2 mt-4 md:w-[23%] overflow-hidden border-2 bg-bgShade border-bgShade hover:bg-transparent p-3 pb-4 rounded-sm")
                    div(class="w-full h-44 mb-4")
                        img(class="rounded-sm w-full h-full object-cover"  src=`/imgs/artist/${artist.image}`  alt="")
                    p(class="font-IRanSans md:text-lg font-semibold text-red")= artist.name
                    div(class="text-3xl md:text-3xl mt-4 text-red")
                        a(href=`https://${artist.instagramLink}`)
                            i(class="fa-brands fa-instagram")
                        a(href=`https://${artist.whatsappLink}` class="mr-2 ml-2")
                            i(class="fa-brands fa-whatsapp")
                        a(href=`/artists/${artist._id}`)
                            i(class="fa-regular fa-eye")

