extends base

block content
    section(class="pt-24 md:pt-36")
        div(class="w-[85%] md:w-[75%] mx-auto bg-white p-4 rounded-sm shadow-[1px_2px_4px_0_rgba(0,0,0,0.2)]")
            div(class="flex flex-col md:flex-row")
                div(class="w-full md:w-56 md:h-56 mr-1 mt-1") 
                    img(class="rounded-sm w-full h-full object-cover" src=`/imgs/artist/${art.image}` alt="")

                div(class="font-IRanSans mt-2 md:mt-0 flex flex-col justify-end items-start pb-4 pr-4")
                    p(class="text-xl md:text-3xl font-bold text-red")= art.name
                    div(class="text-2xl md:text-3xl mt-2 md:mt-3 text-slate-700")
                        a(class="mx-2 md:mx-3" href=`https://${art.facebookLink}` target="_blank")
                            i(class="fa-brands fa-facebook-f transition-all duration-300 hover:text-red")
                        a(class="mx-2 md:mx-3" href=`mailto:${art.email}` target="_blank")
                            i(class="fa-regular fa-envelope transition-all duration-300 hover:text-red")
                        a(class="ml-2 md:ml-3" href=`https://${art.whatsappLink}` target="_blank")
                            i(class="fa-brands fa-whatsapp transition-all duration-300 hover:text-red")

            div
                h3(class="inline-block text-xl md:text-2xl font-mehr border-b-2 border-red mt-1 md:mt-3 mx-2") بیوگرافی
                p(class="text-justify font-IRanSans mt-3 leading-7 text-sm px-2 md:px-4")= art.bio
            
            if artworks.length !== 0
                div(class="mt-4")
                    h3(class="inline-block text-xl md:text-2xl font-mehr border-b-2 border-red mt-3 mx-2") نمونه کارها
                    div(class="flex flex-wrap justify-center")
                        each artwork in artworks
                            div(class="w-[90%] md:w-[20%] p-2 rounded-sm mt-6 mx-2 bg-bg shadow-[1px_2px_4px_0_rgba(0,0,0,0.2)]")
                                div(class="relative group")
                                    img(src=`/imgs/artwork/${artwork.image}` alt="" class="w-full object-cover rounded-ss-md rounded-se-md")
                                    div(class="hidden group-hover:block")
                                        div(class="absolute top-2 right-2 bottom-2 left-2 flex justify-center items-center bg-white rounded-md bg-opacity-60")
                                            a(href=`/products/${artwork._id}` class="text-slate-700 font-IRanSans text-xs px-4 py-2 border-2 border-slate-700 hover:bg-slate-700 hover:text-white") مشاهده جزئیات

                                h5(class="text-right text-sm font-IRanSans font-semibold mt-2 mr-1")= artwork.name
                                p(class="font-dastnevis mr-1 text-slate-500")= `تکنیک ${artwork.category}`
                                p(class="ltr-div font-IRanSans text-left text-red font-semibold")= `افغانی ${artwork.price}`
